<div class="container">
    <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="name">Employee Name</label>
            <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Employee Name"/>
        </div>
    
        <div class="form-control">
            <label for="id">Emp Id</label>
            <input type="text" name="id" [(ngModel)]="id" id="id" placeholder="Employee Id"/>
        </div>
        <div class="form-control">
            <label for="address">Address <address></address></label>
            <input type="text" name="address" [(ngModel)]="address" id="address" placeholder="Employee address"/>
        </div>
        <div class="form-control">
            <label for="salary">Salary</label>
            <input type="text" name="salary" [(ngModel)]="salary" id="salary" placeholder="Employee salary"/>
        </div>
        <div class="form-control">
            <label for="jobPosition">Job Position</label>
            <input type="text" name="jobPosition" [(ngModel)]="jobPosition" id="jobPosition" placeholder="Employee job Position"/>
        </div>
        <div class="form-control">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" id="phoneNumber" placeholder="Employee phone Number"/>
        </div>
        <input type="submit" value="Save Employee" class="btn btn-block" />
      </form> 
</div>
<button mat-raised-button color="primary" (click)="goBack()">Back</button>
